.cards {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // row-gap: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  justify-content: space-evenly;
  font-size: 14px;
}
