@use "../../styles/abstracts/" as *;

.nav {
  background-color: $dark-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: $inline-padding;
  padding-block: 20px;
  background-color: $white;

  box-shadow: 0px 5px 6px -1px hsl(0, 0%, 90%);
  .theme-button {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-weight: 600;
      white-space: nowrap;
    }
  }

  .link {
    text-decoration: none;
  }
  .link:visited {
    color: $very-dark-blue;
  }

  //mobile
  h1 {
    @include devices(phone) {
      font-size: 18px;
    }
  }
  .theme-button {
    @include devices(phone) {
      font-size: 14px;
      gap: 2px;
    }
  }
}
