@use "./styles/abstracts/" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  color: inherit;
}

body {
  min-height: 100vh;
  background-color: $very-light-gray;
  font-family: $main-font-family;
  color: $very-dark-blue-light-mode-text;
}

main {
  padding-inline: $inline-padding;
  padding-block: 40px;
  min-height: 100vh;

  @include devices(phone) {
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 25px;
  }
}
